body{
  margin:0px;
  display:flex;
  justify-content: center;
  align-content: center;
  text-align:center;

}

.div{
  display:flex;
  justify-content: center;
}

.input{
  border: 2px solid #333;
  border-radius: .4em;
}